source/assets
archive/
face_examples
face_report.odt
models/haarcascade_eye.xml
models/deploy.prottxt.txt
models/mmodhuman_face_detector.dat
models/res10_300x300_ssd_iter_140000.caffemodel
models/shape_predictor.dat
models/shape_predictor5.dat

source/recording
source/model
source/log
*.pyc
**/log
*.pth
*.npy
*.png
*.jpg


playground
driver_vid
